<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- locals.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      #fork{position:fixed;top:0;right:0;_position:absolute;z-index: 10000;}
      .bottom{margin: 20px auto; width: 100%; text-align: center;}
      .container{width: 1080px; margin: 50px auto;}
    </style>
  <head>
  <body>
    <a href="https://github.com/cnpm/cnpmjs.org" id="fork" target="_blank">
        <img alt="Fork me on GitHub" src="//s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>
    <div class="container">
      <%- body %>
    </div>

      <hr/>
      <div class="bottom">
        Copyright &copy; <a href="https://github.com/cnpm" target="_blank">cnpm</a>
        |
        <a href="/">Home</a>
    </div>
  </body>
</html>
